# Игнорировать временные файлы ОС
.DS_Store
Thumbs.db

# Игнорировать каталоги и файлы сборки
/dist
/build
/node_modules
/.cache

# Логи
*.log

# Конфиденциальные файлы
.env

# Файлы IDE
.vscode/
.idea/
*.iml
